In [1]:
import pandas as pd
import numpy as np
import re
from supportingFunctions import *
import os
import sys

In [2]:
pgeRaw = pd.read_csv('./../data/PGE_Interconnected_Applications_Dataset_2020-06-30.csv')
sceRaw = pd.read_csv('./../data/SCE_Interconnected_Applications_Dataset_2020-06-30.csv')
sdgeRaw = pd.read_csv('./../data/SDGE_Interconnected_Applications_Dataset_2020-06-30.csv')

In [3]:
cols = ['Technology Type','System Size DC','Storage Size (kW AC)','App Approved Date','Customer Sector','Installer Name','Inverter Manufacturer 1','Third Party Owned','Third Party Name']
colsShort = ['techType','systemSizeDC','storageSize','appDate','sector','installer','invMan','thirdPartyBool','thirdParty']

allData = pd.concat([pgeRaw[cols], sceRaw[cols], sdgeRaw[cols]])

allData.columns = colsShort

allData = allData[allData['techType'].notna()]
allData = allData[allData['invMan'].notna()]

allData.reset_index(inplace=True, drop=True)

solarPvInd = []

for i in list(allData.index):

    checkStr = allData.loc[i, 'techType']
    search = re.search('Solar PV|SOLAR PV', checkStr)
    if search is not None:
        solarPvInd.append(i)

allData = allData.loc[solarPvInd]
allData = allData[allData['appDate'] >= '2014-01-01']

allData.reset_index(inplace=True, drop=True)

In [4]:
systemSizeMaster(allData, numMonths = 78)

In [11]:
header = pd.MultiIndex.from_product([['solaredge','enphase','sma','fronius','sunpower','aps','delta','ginlong','other'],['residential', 'commercial', 'industrial']])

In [34]:
jack = pd.DataFrame(np.zeros([3,27]), columns=header)
jack.iloc[:, 0] = [1,2,3]
jack

    solaredge                           enphase                        \
  residential commercial industrial residential commercial industrial
0           1        0.0        0.0         0.0        0.0        0.0
1           2        0.0        0.0         0.0        0.0        0.0
2           3        0.0        0.0         0.0        0.0        0.0

          sma                           fronius  ...        aps       delta  \
  residential commercial industrial residential  ... industrial residential
0         0.0        0.0        0.0         0.0  ...        0.0         0.0
1         0.0        0.0        0.0         0.0  ...        0.0         0.0
2         0.0        0.0        0.0         0.0  ...        0.0         0.0

                            ginlong                             other  \
  commercial industrial residential commercial industrial residential
0        0.0        0.0         0.0        0.0        0.0         0.0
1        0.0        0.0         0.0        0.0        0.0         0.0
2        0.0        0.0         0.0        0.0        0.0         0.0


  commercial industrial
0        0.0        0.0
1        0.0        0.0
2        0.0        0.0

[3 rows x 27 columns]

In [20]:
np.zeros([27,3])

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])